---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

/* Check if the user is authenticated */
const auth = getAuth(app);

if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")!.value;
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (decodedCookie) {
    return Astro.redirect("/game");
  }
}

import SignIn from "../components/SignIn.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <main id="content">
    <SignIn />
  </main>
</Layout>

<script>
  // import { createUser } from "../firebase/client";

  // const button = document.getElementById("begin-button");

  // button?.addEventListener("click", (ev) => {
  //   ev.preventDefault();
  //   const usernameInput = document.getElementById("username");
  //   const username = usernameInput?.textContent;
    
  //   if (username) {
  //     createUser(username);
  //   } else {
  //     throw Error("must enter a username");
  //   }
  // });
</script>