---
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';

const auth = getAuth(app);

if (Astro.cookies.get('__session')) {
    const sessionCookie = Astro.cookies.get('__session')!.value;
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);
    if (decodedCookie) {
        Astro.redirect("/game");
    }
}

---
<div>
  <h1>Register</h1>
  <p>Already have an account? <a href="/signin">Sign in</a></p>
  <form action="/api/auth/register" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="email" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Login</button>
  </form>
</div>